<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
        .container {
            width:100%;
            
        }
        header {
            background-color: #F4F6B0;
            height: 80px;
            color: black;
        }
        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu{ display: none; }

            .navbar .nav-item:hover .dropdown-menu{ display: block; }
            .navbar .nav-item .dropdown-menu{ margin-top:0; }
        }
        a {
            color: rgb(58, 58, 58);
        }
        a:hover {
            color: black;
        }

        nav {
            background-color: #e5ddb6;
        }
        article {
            background-color: #e5ddb7;
            padding: 50px;
        }

        footer {
            background-color: #8E8E8E;
            height: 100px;
            color: rgb(255, 255, 255);
            text-align: center;
            padding-top: 5px;
            font-size: 10px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="row align-items-center">
                <div class = "col-8">
                    <img src="../img/校徽01.png" class="img-thumbnail" alt="..." style="width: auto; max-height: 80px;">
                </div>
                <div class = "col-1">
                    返回首頁
                </div>
                <div class = "col-1">
                    網站導覽
                </div>
                <div class = "col-1">
                    常見問答
                </div>
                <div class = "col-1">
                    意見信箱
                </div>
            </div>
        </header>

        <nav>
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dar" style=" background-color : #F4F6B0">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">嘉義大學食品科學系</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  關於食科  </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"> 系學會 </a></li>
                                    <li><a class="dropdown-item" href="#"> 系友會 </a></li>
                                    <li><a class="dropdown-item" href="#"> 必修科目冊 </a></li>
                                    <li><a class="dropdown-item" href="#"> 榮譽榜 </a></li>
                                    <li><a class="dropdown-item" href="#"> 師資陣容 </a></li>
                                    <li><a class="dropdown-item" href="#"> 系所簡介 </a></li>
                                    <li><a class="dropdown-item" href="#"> 活動花絮 </a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  學生專區  </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"> 新生專欄 </a></li>
                                    <li><a class="dropdown-item" href="#"> 入學管道 </a></li>
                                    <li><a class="dropdown-item" href="#"> 跨領域學程 </a></li>
                                    <li><a class="dropdown-item" href="#"> 實習專區 </a></li>
                                    <li><a class="dropdown-item" href="#"> 獎學金專區 </a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  系所公告  </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"> 會議記錄 </a></li>
                                    <li><a class="dropdown-item" href="#"> 專題演講 </a></li>
                                    <li><a class="dropdown-item" href="#"> 法規彙編 </a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#"> 	國際交流 </a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                              </form>
                        </ul>
                        </div> <!-- navbar-collapse.// -->
                    </div> <!-- container-fluid.// -->
                    </nav>
                </div>
    
            </div>
            <div class="row align-items-center" style="padding: 10px;">
                <div class="col-6">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">主頁</a></li>
                          <li class="breadcrumb-item"><a href="#">關於食科</a></li>
                          <li class="breadcrumb-item"><a href="#">系友會</a></li>
                        </ol>
                      </nav>
                </div>

                <div class="col-6" style="text-align: right;">                    
                    發佈日期：2020-12-12
                </div>
            </div>
        </nav>

        <article>
            <div class="row align-items-center">
                <div class="col-12" style="padding-bottom: 50px;">
                    <img src="../img/BG.jpg" class="rounded mx-auto d-block" width="80%">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12" style="padding-bottom: 50px;">
                    <table class="table" style="text-align: center;">
                        <thead>
                          <tr>
                            <th scope="col">標題</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                          <tr>
                                <th scope="row"><a href="">徵才訊息</a></th>
                          </tr>
                          <tr>
                            <th scope="row"><a href="">系友會組成</a></th>
                          </tr>
                          <tr>
                            <th scope="row"><a href="">系友會活動訊息</a></th> 
                          </tr>
                          <tr>
                            <th scope="row"><a href="">系友各項表格下載</a></th> 
                          </tr>
                          <tr>
                            <th scope="row"><a href="">嘉大校友中心</a></th> 
                          </tr>
                          <tr>
                            <th scope="row"><a href="">歷年嘉大傑出校友榜(食科系友/科友)</a></th> 
                          </tr>
                          <tr>
                            <th scope="row"><a href="">歷屆校友熱心服務及貢獻獎（食科系友/科友）</a></th> 
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

            <div class="row align-items-center" style="text-align: center;">
                <div class="col-12" style="padding-bottom: 20px;">
                    <h1>系友會功能</h1>
                </div>
                <div class="col-3">
                    <img src="../img/people.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>關心畢業系友動向</p>
                </div>
                <div class="col-3">
                    <img src="../img/contract.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>提供系友交流平台</p>
                </div>
                <div class="col-3">
                    <img src="../img/giveJob.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>提供就業機會</p>
                </div>
                <div class="col-3">
                    <img src="../img/help.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>提供學校相關產業檢驗服務折扣</p>
                </div>
                <div class="col-4">
                    <img src="../img/speech.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>進行經驗講座(演講)</p>
                </div>
                <div class="col-4">
                    <img src="../img/money.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>獎學金設立</p>
                </div>
                <div class="col-4">
                    <img src="../img/plane.png" alt="" height="125px" style="padding-bottom: 20px;">
                    <p>推動國際化交流</p>
                </div>
            </div>

            <div class="row align-items-center" style="text-align: center; padding-top: 40px;">
                <div class="col-12" style="padding-bottom: 40px;">
                    <h1>精選訊息</h1>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4" style="text-align: center; padding-top: 10px;">
                <div class="col">
                    <div class="card h-100 w-75 mx-auto">
                        <img src="../img/KKFood.jpg" class="card-img-top mx-auto" alt="..."style="width:80%;">
                        <div class="card-body">
                          <h5 class="card-title">碁富食品 招募宣導</h5>
                          <p class="card-text">公司因應疫情關係招募採取線上投遞履歷方式進行，六月中旬合宜時間安排進行視訊面試。</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">了解詳情</a>
                          </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card h-100 w-75 mx-auto">
                        <img src="../img/win.png" class="card-img-top mx-auto" alt="..."style="width:80%; padding: 20px;">
                        <div class="card-body">
                          <h5 class="card-title">110年度「傑出校友獎」及「校友熱心服務及貢獻獎」選拔活動</h5>
                          <p class="card-text">為選拔有具體貢獻及傑出事蹟之校友，樹立楷模，特辦理110年度「傑出校友獎」及「校友熱心服務及貢獻獎」選拔活動，請踴躍推薦候選人，請查照。</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">了解詳情</a>
                          </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card h-100 w-75 mx-auto">
                        <img src="../img/Tian-I.png" class="card-img-top mx-auto" alt="..."style="width:80%;">
                        <div class="card-body">
                          <h5 class="card-title">天一藥廠股份有限公司 徵才訊息</h5>
                          <p class="card-text"><br>歡迎有興趣的新鮮人投遞或來電<br><br></p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">了解詳情</a>
                          </div>
                      </div>
                </div>
            </div>
        </article>
        
        <footer>
            <div class="row align-items-center">
                <div class="col-12">
                    國立嘉義大學　版權所有　Copyright © 2017 All Rights Reserved.
                    <br>國立嘉義大學生命科學院食品科學系
                    <br>地址：嘉義市學府路300號
                    <br>電話:05-2717591~2；傳真：05-2717596
                    <br>歡迎來信：fst@mail.ncyu.edu.tw
                </div>
            </div>
        </footer>
        



    </div>
</body>
</html>