
        body{
            background-color: rgba(222, 219, 219, 0.326);
        }
        #whole{
            background-color: rgba(238, 238, 238, 0.326);
        }
        .container{
            width: 100%;
        }

        .returnHome a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }
        .webGuide a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }
        .commentQA a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: 0px;
        }
        .comment_mail a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }

        header{
            background-color: rgba(240, 240, 240, 0.521);
            font-family: Microsoft JhengHei;
        }

        footer{
            background-color: #8E8E8E;
            height: auto;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 15px;
            font-size: 15px;
            line-height: 25px;
            font-family: Microsoft JhengHei;
        }

        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu{ display: none;}
            .navbar .nav-item .nav-link{color: rgb(0, 0, 0);font-size: 100%;}
            .navbar .nav-item:hover .nav-link{ color: rgba(12, 95, 128, 0.91); }
            .navbar .nav-item:hover .dropdown-menu{ display: block; }
            .navbar .nav-item .dropdown-menu{ margin-top:0; }
        }

        tr:nth-child(even) {
            background-color: rgba(255, 242, 100, 0.528);
        }

        .jumbotron {
            background-image: url("../img/study.jpg");
            opacity: 0.9    ; 
            background-size: cover;
            background-repeat: no-repeat;
            height: 350px;
            background-position: 0%;
            width: 100%;
        }
        #text_area{
            color: rgb(255, 255, 255);
            font-size: 80px;
            text-align: right;
        }

        div #first , div #second , div #third , div #forth , div #fifth , div #sixth{
            width:200px;height:200px; 

            border-radius:999em;

            border: 0px;
        }
        div #first p, div #second p, div #third p, div #forth p, div #fifth p, div #sixth p{
                padding-top: 80px;
                
                color: rgb(255, 255, 255);
        }
        a:link{
            text-decoration: none;
        }
        div #first:hover , div #second:hover , div #third:hover , div #forth:hover , div #fifth:hover , div #sixth:hover{
            text-decoration: none;
            opacity: 0.7;
        }