
        body{
            background-color: rgba(222, 219, 219, 0.326);
        }
        #whole{
            background-color: rgba(238, 238, 238, 0.326);
        }
        .container{
            width: 100%;
        }

        .returnHome a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }
        .webGuide a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }
        .commentQA a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: 0px;
        }
        .comment_mail a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }

        header{
            background-color: rgba(240, 240, 240, 0.521);
            font-family: Microsoft JhengHei;
        }

        footer{
            background-color: #8E8E8E;
            height: auto;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 15px;
            font-size: 15px;
            line-height: 25px;
            font-family: Microsoft JhengHei;
        }

        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu{ display: none;}
            .navbar .nav-item .nav-link{color: rgb(0, 0, 0);font-size: 100%;}
            .navbar .nav-item:hover .nav-link{ color: rgba(12, 95, 128, 0.91); }
            .navbar .nav-item:hover .dropdown-menu{ display: block; }
            .navbar .nav-item .dropdown-menu{ margin-top:0; }
        }

        tr:nth-child(even) {
            background-color: rgba(255, 242, 100, 0.528);
        }

        .jumbotron {
            background-image: url("https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN0dWRlbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
            opacity: 0.6; 
            background-size: cover;
            background-repeat: no-repeat;
            height: 300px;
            background-position: 0%;
            width: 100%;
        }
        #text_area{
            color: rgb(28, 85, 217);
            font-size: 80px;
            text-align: right;
        }

        div #class_news , div #apply_point , div #class_design , div #download_sheet{
            width:280px;height:280px; 

            border-radius:999em;

            background-color:rgba(185, 180, 180, 0.979);

            border: 0px;

        }
        div #class_news:hover , div #apply_point:hover , 
        div #class_design:hover , div #download_sheet:hover{
            opacity: 0.7;
        }