
        body{
            background-color: rgba(192, 192, 192, 0.326);
        }
        #whole{
            background-color: rgba(238, 238, 238, 0.326);
        }
        .container{
            width: 100%;
        }

        .returnHome a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }
        .webGuide a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }
        .commentQA a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: 0px;
        }
        .comment_mail a:hover{
            background-color: rgba(162, 180, 180, 0.576);
            border: none;
        }

        header{
            background-color: rgba(240, 240, 240, 0.521);
            font-family: Microsoft JhengHei;
        }

        footer{
            background-color: #8E8E8E;
            height: auto;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 15px;
            font-size: 15px;
            line-height: 25px;
            font-family: Microsoft JhengHei;
        }

        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu{ display: none;}
            .navbar .nav-item .nav-link{color: rgb(0, 0, 0);font-size: 100%;}
            .navbar .nav-item:hover .nav-link{ color: rgba(12, 95, 128, 0.91); }
            .navbar .nav-item:hover .dropdown-menu{ display: block; }
            .navbar .nav-item .dropdown-menu{ margin-top:0; }
        }

        tr:nth-child(even) {
            background-color: rgba(255, 242, 100, 0.528);
        }

        .jumbotron {
            background-image: url("https://images.unsplash.com/photo-1495653797063-114787b77b23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
            opacity: 0.5; 
            background-size: cover;
            background-repeat: no-repeat;
            height: 300px;
            background-position: 50%;
            width: 100%;
            padding-bottom: 0%;
        }
        #text_area{
            color: rgb(255, 0, 0);
            font-size: 80px;
        }